<h1>Gian Carlo E. Manuel</h1>
<hr/>

<div class="card">
  <div class="container">
  <h2>Formatting Date</h2>
    <p>Unformatted date : {{presentDate}}</p>
    <p>Default date : {{presentDate | date | uppercase }}</p>
    <p>Short date : {{presentDate | date:'shortDate'}}</p>
    <p>Medium date : {{presentDate | date:'mediumDate'}}</p>
    <p>Long date : {{presentDate | date:'longDate'}}</p>
  </div>
</div>

<hr/>
<div class="card">
  <div class="container">
    <h2>Dates with parameters</h2>
    <p>Unformatted date : {{presentDate}}</p>
    <p>dd/mm/yy : {{ presentDate | date:'d MM y' }} </p>
  </div>
</div>

<hr/>
<hr/>
<div class="card">
  <div class="container">
    <h2>Formatting Time</h2>
    <p>Standard time: {{ presentDate | date:'shortTime'}}</p>
    <p>Medium time: {{ presentDate | date: 'mediumTime'}}</p>
    <p>Long time: {{ presentDate | date: 'longTime'}}</p>
  </div>
</div>

<hr/>
<div class="card">
  <div class="container">
    <h2>AsyncPipe</h2>
    <p>Seconds changing in Time: {{ times$ | async | date:'mediumTime' }}</p>
  </div>
</div>


<hr/>
<div class="card">
  <div class="container">
    <h2>SlicePipe</h2>
      <p> List fruits from the second fruit: {{Fruits | slice:2}}</p>
      <p> My favorite fruit: {{Fruits | slice:0:1}}</p>
      <h3>Start index: - {{Fruits | slice:2}}</h3>
      <h4>Start and end index: - {{Fruits | slice:1:4}}</h4>
      <h5>Negative index: - {{Fruits | slice:-2}}</h5>
      <h6>Negative start and end index: - {{Fruits | slice:-4:-2}}</h6>
  </div>
</div>

<hr/>
<div class="card">
  <div class="container">
    <h2>CurrencyPipe</h2>
      <p>{{price | currency: '':true}}</p>
      <p>{{price | currency: ' INR '}}</p>
      <p>{{price | currency: ' JPY '}}</p>
  </div>
</div>

<hr/>
<div class="card">
  <div class="container">
    <h2>DecimalPipe</h2>
    <p> Apply formatting:- {{decimalNum1 | number: '3.1'}}</p>
    <p> Apply formatting:- {{decimalNum2 | number: '2.1-4'}}</p>
    <p> Apply formatting:- {{decimalNum3 | number: '1.1-4'}}</p>
  </div>
</div>

<hr/>
<div class="card">
  <div class="container">
    <h2>PercentPipe</h2>
    <p>A: {{ a | percent }}</p>
    <p>B: {{ b | percent: '4.3-5' }}</p>
    <p>C: {{ c | percent: '1.3-5' }}</p>
  </div>
</div>

<hr/>
<div class="card">
  <div class="container">
    <h2>JSONPipe</h2>
    <p>Object: {{ data | json }}</p>
  </div>
</div>
