<h3 class="p-3 text-center">About me</h3>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="assets/animals.JPG" alt="Cinque Terre">
    </a>
    <div class="desc">Loves animals.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="assets/trees.JPG" alt="Forest">
    </a>
    <div class="desc">Loves trees.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_lights.jpg">
      <img src="assets/sunrise.jpg" alt="Northern Lights">
    </a>
    <div class="desc">Loves sunrise and morning walks.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_mountains.jpg">
      <img src="assets/bonding.JPG" alt="Mountains">
    </a>
    <div class="desc">Loves family bonding.</div>
  </div>
</div>

<div class="clearfix"></div>
